__trash/
*/prichozi/
backup.sh
.backup.sh.swp
config-github
config-gitlab
config-bitbucket
config-all

!2020-3-4/zdrojaky/striz-manim/
2020-3-4/zdrojaky/striz-manim/**
#!2020-3-4/zdrojaky/striz-manim/manim/
#2020-3-4/zdrojaky/striz-manim/manim/*
#!2020-3-4/zdrojaky/striz-manim/manim/obr/

!2020-3-4/zdrojaky/striz-manim/manim/
!2020-3-4/zdrojaky/striz-manim/SciTE.properties
!2020-3-4/zdrojaky/striz-manim/striz-manim.tex
!2020-3-4/zdrojaky/striz-manim/obr/
!2020-3-4/zdrojaky/striz-manim/obr/*
!2020-3-4/zdrojaky/striz-manim/manim/ukazky/
!2020-3-4/zdrojaky/striz-manim/manim/ukazky/*.py
!2020-3-4/zdrojaky/striz-manim/manim/manimlib/
!2020-3-4/zdrojaky/striz-manim/manim/manimlib/constants.py
!2020-3-4/zdrojaky/striz-manim/manim/manimlib/ctex_template.tex
!2020-3-4/zdrojaky/striz-manim/manim/manimlib/tex_template.tex
!2020-3-4/zdrojaky/striz-manim/manim/manimlib/utils/
!2020-3-4/zdrojaky/striz-manim/manim/manimlib/utils/tex_file_writing.py
2020-3-4/zdrojaky/striz-novinky-tex/vzorky/maps/
2020-3-4/zdrojaky/striz-novinky-tex/vzorky/tiles/

